.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    width: 80%;
    gap: 25px;
    justify-items: center;
    max-width: 50rem;
}

.card {
    display: flex;
    border-radius: 0.5rem;
    cursor: pointer;
    overflow: hidden;
    width: 15rem;
    height: 17rem;
    box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35), 0px 10px 20px -15px rgba(22, 23, 24, 0.2);
    align-items: center;
    display: flex;
    flex-direction: column;

}

.card.hover {
    box-shadow: rgba(0,0,0, 0.35) 0px 5px 15px;
}

.background img{
    width: 15rem;
    height: 10rem;
    object-fit: cover;
}

.card-content {
    flex: 3 1 22rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 1rem;
}

.content > h2 {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: clamp(0.25rem, 2vw, 0.5rem);
    margin-top: clamp(0.25rem, 2vw, 0.5rem);
    text-align: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.cardsContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 20vh;
    max-height: 80vh;
    overflow-y: scroll;
  }

.experience {
    color: rgba(0,0,0, 0.75);
    font-size: 14px;
}

.address {
    color: rgba(0,0,0, 0.75);
    text-align: center;
    font-size: 14px;
}

@media (max-width: 630px) {
    .card {
        width: 10rem;
        height: 13rem;
    }

    .background img{
        width: 10rem;
        height: 7rem;
    }

    .content > h2 {
        font-size: 14px;
    }

    .experience {
        font-size: 12px;
    }

    .address {
        font-size: 12px;
    }

    .grid-container {
        grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
        width: 90%;
        gap: 20px;
    }

}