@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@radix-ui/colors/black-alpha.css';
@import '@radix-ui/colors/mauve.css';
@import '@radix-ui/colors/violet.css';


:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: white;
  font-family: 'Outfit', 'sans-serif';
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.subContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;

}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  height: 90vh;
}

.logoContainer {
  opacity: 0;
  animation: fadeIn 1s ease-in-out 0s 1 normal forwards;
  max-width: 30vh;
  margin-top: 13vh;
}

.logoContainerSmall{
  max-width: 25%;
  margin-top: 3.5vh;
}

.centeredImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-size: clamp(16px, 4.8vw, 26px);
  margin-top: 1vh;
}

.subtitle {
  font-size: 3.2vw;
  margin-top: 0.8vh;
  margin-bottom: 0.8vh;
}

.tableLogoContainer {
  opacity: 0;
  animation: fadeIn 1s ease-in-out 1s 1 normal forwards;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 30vh;
}

.profileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 50%;
  margin-top: 10vh;
  margin-bottom: 20vh;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 7vh;
  margin-bottom: 20vh;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 70%;
  margin-bottom: 6vh;
}

.inputForm {
  justify-content: center;
  text-align: center;
}

.footer {
  font-size: clamp(10px,3vh,13px);
  bottom: 2vh;
  position: relative;
  display: flex;
}

.mainButton {
  opacity: 0;
  animation: fadeIn 1s ease-in-out 2s 1 normal forwards;
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  position: absolute;
  bottom: 19vh;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.selectOption {
  justify-content: center;
  text-align: center;
  border-bottom: 1px solid black;
  outline: none;
  width: clamp(200px, 65vw, 300px);
}

.experienceOption {
  display: flex;
  justify-content: center;
  margin-top: 2.5vh;
  flex-direction: column;
  align-items: center;
}

.experienceOption label:nth-child(1) {
  opacity: 0;
  animation: fadeIn 0.6s ease-in-out 0s 1 normal forwards;
}

.experienceOption label:nth-child(2) {
  opacity: 0;
  animation: fadeIn 0.6s ease-in-out 0.6s 1 normal forwards;
}

.experienceOption label:nth-child(3) {
  opacity: 0;
  animation: fadeIn 0.6s ease-in-out 1.2s 1 normal forwards;
}

.experienceOption label:nth-child(4) {
  opacity: 0;
  animation: fadeIn 0.6s ease-in-out 1.8s 1 normal forwards;
}

.experienceOption label:nth-child(5) {
  opacity: 0;
  animation: fadeIn 0.6s ease-in-out 2.4s 1 normal forwards;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.contentContainer {
  flex: 1; 
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.loader {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 3px solid #000000;
  border-top-color: transparent;
  animation: spin 1.2s linear infinite;
  margin-top: 100px;
  margin-bottom: 40px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.bigSquare{
  width: 40vh;
  height: 13vh;
  border: 2px solid black;
  box-sizing: border-box;
  padding: 5px;
  margin-top: 10px;
  border-style: dotted;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imageGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  width: 40vh;
  margin-top: 10px;
}

.cl-formButtonPrimary {
  width: auto;

}

.cl-socialButtonsBlockButton {
  width: auto;
}