@import '@radix-ui/colors/black-alpha.css';
@import '@radix-ui/colors/mauve.css';
@import '@radix-ui/colors/violet.css';

/* reset */

.DropdownMenuContent,
.DropdownMenuSubContent {
  max-width: 170px;
  background-color: white;
  border-radius: 6px;
  padding: 5px;
  box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35), 0px 10px 20px -15px rgba(22, 23, 24, 0.2);
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
}
.DropdownMenuContent[data-side='top'],
.DropdownMenuSubContent[data-side='top'] {
  animation-name: slideDownAndFade;
}
.DropdownMenuContent[data-side='right'],
.DropdownMenuSubContent[data-side='right'] {
  animation-name: slideLeftAndFade;
}
.DropdownMenuContent[data-side='bottom'],
.DropdownMenuSubContent[data-side='bottom'] {
  animation-name: slideUpAndFade;
}
.DropdownMenuContent[data-side='left'],
.DropdownMenuSubContent[data-side='left'] {
  animation-name: slideRightAndFade;
}

.DropdownMenuItem,
.DropdownMenuCheckboxItem,
.DropdownMenuRadioItem,
.DropdownMenuSubTrigger {
  font-size: 15px;
  line-height: 1;
  color: var(--black-a7);
  border-radius: 3px;
  display: flex;
  align-items: center;
  height: 25px;
  padding: 0 5px;
  position: relative;
  padding-left: 25px;
  user-select: none;
  outline: none;
  cursor: pointer;
}
.DropdownMenuSubTrigger[data-state='open'] {
  background-color: var(--black-a7);
  color: var(--black-a7);
}
.DropdownMenuItem[data-disabled],
.DropdownMenuCheckboxItem[data-disabled],
.DropdownMenuRadioItem[data-disabled],
.DropdownMenuSubTrigger[data-disabled] {
  color: var(--mauve-8);
  pointer-events: none;
}
.DropdownMenuItem[data-highlighted],
.DropdownMenuCheckboxItem[data-highlighted],
.DropdownMenuRadioItem[data-highlighted],
.DropdownMenuSubTrigger[data-highlighted] {
  background-color: var(--black-a7);
  color: white;
}

.DropdownMenuLabel {
  padding-left: 25px;
  font-size: 12px;
  line-height: 25px;
  color: var(--mauve-11);
}

.DropdownMenuSeparator {
  height: 1px;
  background-color: var(--black-a7);
  margin: 5px;
}

.DropdownMenuItemIndicator {
  position: absolute;
  left: 0;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.DropdownMenuArrow {
  fill: white;
}

.IconButton {
  font-family: inherit;
  border-radius: 100%;
  height: 35px;
  width: 35px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--black-a7);
  background-color: white;
  box-shadow: 0 2px 10px var(--black-a7);
  position: absolute;
  right: 10px;
  top: 10px;
}
.IconButton:hover {
  background-color: var(--black-a7);
}
.IconButton:focus {
  box-shadow: 0 0 0 2px black;
}

.RightSlot {
  margin-left: auto;
  padding-left: 20px;
  color: var(--mauve-11);
}
[data-highlighted] > .RightSlot {
  color: white;
}
[data-disabled] .RightSlot {
  color: var(--mauve-8);
}

@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRightAndFade {
  from {
    opacity: 0;
    transform: translateX(-2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFade {
  from {
    opacity: 0;
    transform: translateX(2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.circleBackground {
  position: absolute;
  top: 0.5vh;
  left: 0.5vh;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.5);
}

.numberSpan {
  position: absolute;
  top: 0.5vh;
  left: 0.5vh;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  padding-bottom: 1px;
  opacity: 0;
  background-color: rgba(255, 255, 255, 1);
  transition: opacity 0.3s;
  border: 1px solid black;
}

.numberSpan.show {
  opacity: 1;
}

.backCheckBox {
position: absolute;
top: 0.5vh;
left: 0.5vh;
cursor: pointer;
padding: 0.5vh;
opacity: 0;
width: 13vh;
height: 13vh;
}

  .removeCrossButton {
  position: absolute;
  top: 0.5vh;
  right: 0.5vh;
  cursor: pointer;
  color: black;
  background: white;
  border-radius: 50px;
  }
  
  .uploadImage {
  width: 13vh;
  height: 13vh;
  object-fit: cover;
  border-radius: 5px;
  }



.descriptionInput{
  height: 30rem;
  width: 15rem;
  text-align: center;
}

textarea:focus {
  outline: none;
  border: none
}

.descriptionInputEdit{
  margin-left: auto;
  width: clamp(200px, 30vw, 300px);
  height: 7rem;
  border-bottom: 1px solid gray;
  text-align: center;
  font-size: 0.8rem;
}

.experiencesContainer{
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.alertEditMessageContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  font-size: 1.25rem;
}